$bg: rgba(#ffffff, 0.1);
$fg: #dddddd;
$shadow: rgba(#000000, 0.3);
$border_col: rgba(#cccccc, 0.18);
$best_so_far: rgba(255, 255, 255, 0.1);

$btm: 0px;


.main-container {
  margin: 8px 12px 0px 12px;
  background-color: $bg;
}

.header-text {
  font-size: 30px
}


.content {
  background: $bg;
  border-radius: 10px;
  color: $fg;
  font-size: 15px;
  padding: 5px 15px 5px 14px;
  margin-bottom: $btm;
  border: 1px solid $border_col;
  box-shadow: 2px 2px 2px $shadow;
  text-shadow: none;
  font-family: "JetBrainsMono Nerd Font";
}

.workspaces {
  background-color: $bg;
  border-radius: 10px;
  color: $fg;
  margin-bottom: $btm;
  border: 1px solid $border_col;
  padding: 6px 20px 6px 20px;
  font-size: 12px;
  box-shadow: 2px 2px 2px $shadow;
  // min-height: 25px;
}

.time_battery {
  background: $bg;
  border-radius: 10px;
  color: $fg;
  font-size: 15px;
  padding: 5px 15px 5px 14px;
  margin-bottom: $btm;
  border: 1px solid $border_col;
  box-shadow: 2px 2px 2px $shadow;
  text-shadow: none;
  font-family: "JetBrainsMono Nerd Font";
}

.fullscreen_indicator {
  background-color: $bg;
  border-radius: 10px;
  color: $fg;
}
