@use "base16" as *; 
@use "mixins" as *;

#clock {
	@include theme;

	margin: {
		top: 6px;
		left: 8px;
		bottom: 0px;
	}

	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	/* color: #161320; */
	/* background: #ABE9B3; */
	/*background: #1A1826;*/
	/* color: $base05; */
	/* background: $base00; */
}
