@use "base16" as *; 
@use "mixins" as *;
@use "placeholders" as *;

#memory {
	@include theme;
	@extend %margin-padding;

	border-radius: 10px;
	transition: none;
	/* color: #161320; */
	/* background: #DDB6F2; */
}

#cpu {
	@include theme;
	@extend %margin-padding;
	
	border-radius: 10px;
	transition: none;
	/* color: #161320; */
	/* background: #96CDFB; */
}
