@use "base16" as *; 
@use "mixins" as *;

%stats-margin {
	margin: {
		top: 6px;
		left: 8px;
		bottom: 0px;
	}
}

#memory {
	@include theme;
	@extend %stats-margin;

	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	/* color: #161320; */
	/* background: #DDB6F2; */
}

#cpu {
	@include theme;
	@extend %stats-margin;
	
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	/* color: #161320; */
	/* background: #96CDFB; */
}
