@use "/home/athereo/.config/waybar/scheme" as *;

#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	/* background: #161320; */
	background: $base00;
	transition: none;

	button {
		transition: none;
		color: #B5E8E0;
		background: transparent;
		font-size: 16px;
		border-radius: 2px;
	}

	button.occupied {
		transition: none;
		color: #F28FAD;
		background: transparent;
		font-size: 4px;
	}

	button.focused {
		color: #ABE9B3;
	    border-top: 2px solid #ABE9B3;
	    border-bottom: 2px solid #ABE9B3;
	}

	button:hover {
		transition: none;
		box-shadow: inherit;
		text-shadow: inherit;
		color: #FAE3B0;
	    border-color: #E8A2AF;
	    color: #E8A2AF;
	}

	button.focused:hover {
	    color: #E8A2AF;
	}
}

