@use "base16" as *; 
@use "mixins" as m;
@use "placeholders" as *;

#wireplumber {
	@include m.theme;
	@include m.border;
	@extend %margin-padding;

	/* border-radius: 10px; */
	/* border-style: solid; */
	/* border-width: 3px; */ 
	/* border-color: $base02; */
	transition: 1s;
	/* color: #1A1826; */
	/* background: #FAE3B0; */
	/* color: $base05; */
	/* background: $base00; */

  &.normal {
  	/* background: #FAE3B0; */
  	/* border-color: $base02; */
  }

  &.caution {
  	/* background: orange; */
  	border-color: orange;
  }

  &.over {
  	/* background: red; */
  	border-color: red;
  }
}
