@use "base16" as *; 
@use "mixins" as m;

#wireplumber {
	@include m.theme;
	@include m.border;

	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	/* border-radius: 10px; */
	/* border-style: solid; */
	/* border-width: 3px; */ 
	/* border-color: $base02; */
	transition: 1s;
	/* color: #1A1826; */
	/* background: #FAE3B0; */
	/* color: $base05; */
	/* background: $base00; */

  &.normal {
  	/* background: #FAE3B0; */
  	/* border-color: $base02; */
  }

  &.caution {
  	/* background: orange; */
  	border-color: orange;
  }

  &.over {
  	/* background: red; */
  	border-color: red;
  }
}
