@use "base16" as *; 
@use "mixins" as *;
@use "placeholders" as *;

#workspaces {
	@include border;
	@include theme;
	@extend %margin-padding;

	/* border-radius: 10px; */
	transition: none;
	/* border: 2px solid $base04; */
	/* color: #161320; */
	/* background: #bd93f9; */
	/* color: $base05; */
	/* background: $base00; */
	

	button {
		transition: .5s;
		color: $base04;
		
		&.active {
			/* background: $base02; */
			color: $base0B;
		}
	}
}
