@use "../base16" as *; 
@use "../mixins" as *;

#custom-fullscreen-checker {
	@include theme;

	margin: {
		top: 6px;
		left: 8px;
		bottom: 0px;
	}
	
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
}
