@use "../base16" as *; 

#custom-power {
	margin: {
		top: 6px;
		left: 8px;
		right: 8px;
		bottom: 0px;
	}

	font-size: 20px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #F28FAD;
}
